<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{site.name}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% for navEntry in site.navleft %}
        {% assign current = nil %}
        {% if page.url contains navEntry.url %}
        {% assign current = 'active' %}
        {% endif %}

        {% assign extern = nil %}
        {% if navEntry.url contains "://" %}
        {% assign extern = 'active' %}
        {% endif %}


        {% if navEntry.subpages == nil %}
        <li class="{{ current }}">
          <a href="{{ navEntry.url }}" {% if extern != nil %} target="_blank" {% endif %}>{{ navEntry.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% for navEntry in site.navright %}
        {% assign current = nil %}
        {% if page.url contains navEntry.url %}
        {% assign current = 'active' %}
        {% endif %}

        {% assign extern = nil %}
        {% if navEntry.url contains "://" %}
        {% assign extern = 'active' %}
        {% endif %}


        {% if navEntry.subpages == nil %}
        <li class="{{ current }}">
          <a href="{{ navEntry.url }}" {% if extern != nil %} target="_blank" {% endif %}>{{ navEntry.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- <li><a href="../navbar/">About</a></li> -->
        <!-- <li class="active"><a href="./">Static top</a></li> -->
        <!-- <li><a href="../navbar-fixed-top/">Fixed top</a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

     <!--  <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
 -->